# RubyMine
.idea/**/*
*.iml

# macOS
.DS_Store

# Gems
/vendor/bundle/

# Temporary files
*.swp
*~

# Coverage data
/coverage/

# Dependency directories
/bin/
/gems/
/ruby/
/libexec/

# Logs
/log/
*.log

# Compiled Ruby extension
*.so

# Environment configuration
.env

# RubyMine project files
/.ruby-version
/.ruby-gemset
